.app {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.filter-form .dropdown-menu {
  flex: 1;
}

.filter-form .search-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filterForm > * {
  margin: 10px;
}

@media (max-width: 767px) {
  .filter-form .dropdown-menu {
    margin-bottom: 10px;
  }

  .filter-form .search-button {
    flex: 1;
  }
}

/* KendoGrid */
.kendo-grid {
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
}

/* DropDownMenu */
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto auto;
  gap: 10px;
  width: 100%;
}

/* Operator */
.selected {
  background-color: #007bff;
  color: #fff;
}

.other-menu-buttons {
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }